@font-face {

 font-family: "Aniron";
    src: url(font/anirm___.ttf);
  }
@font-face {   
font-family: "Party_Business";
 	src: url(font/partybusiness.ttf);
  }
@font-face { 
	 font-family: "Tengwar_Annatar";
 	src: url(font/tngan.ttf);
}

nav {

	font-family: "Aniron";
	font-size: 12px;

}
.dark {
	font-family: "Party_Business";
	font-size: 60px;
	margin-bottom: 13%;
}

.titre {
	font-family: "Aniron";
	font-size: 20px;
}
.number {
	color: orange;
}
.my-title {
	text-align: center;
	margin-left: 10%;
	font-size: 24px;
}
.cras {
	font-size: 24px;
}
.im {
	font-family: "Tengwar_Annatar"
	
	font-size: 20px;
}
.my-truc {
	margin-left: 8%;
}
.Fellow {
	text-decoration: underline;
	text-decoration-color: white;
    border-right: 2px solid white;
    height: 12px;
    padding-right: 7px;
}
.ring {
	border-right: 2px solid white;
    height: 12px;

    padding-right: 7px;
}
.get {
	border-right: 2px solid white;
    height: 12px;
    
    padding-right: 7px;
}
.best {
	border-right: 2px solid white;
    height: 12px;
    
    padding-right: 7px;
}

.join {
	border-right: 2px solid white;
    height: 12px;
   
    padding-right: 7px;
}


.line {
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
}
.text1 {
	font-family: "Party_Business";
	color:black;
	position: absolute;
	font-size: 40px;
	text-align: center;
	background-image: url(img/bg_light.png);
	top:3%;
	left: 8%;
	width: 85%;
	border: 1px solid #EFF5FB ;
	border-radius: 3px;
	
	padding: 2px;

}
.card {
	position:relative;
}
.text2 {
	font-family: "Party_Business";
	color:black;
	position: absolute;
	font-size: 40px;
	text-align: center;
	top:3%;
	left: 8%;
	width: 85%;
	border: 1px solid #EFF5FB ;
	border-radius: 3px;
	background: url(img/bg_light.png);
	padding: 2px;
}
.text3 {
	font-family: "Party_Business";
	color:orange;
	position: absolute;
	font-size: 55px;
	text-align: center;

	top:5%;
	left: 20%;
	width: 60%;
}

.card-title {
	
	font-family: "Party_Business";
	color: white;
	position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    
    font-size: 60px;
    
}

.gimli {
	text-decoration: line-through;
	text-decoration-color: orange;	
}

.menu2 {
	font-family: "Aniron";
	font-size: 18px;
	
}
.most {
	text-decoration: underline solid orange;
	color: orange;
	padding: 2px;
}
.card-text {
	font-family: "Party_Business";
	font-size: 32px;
	color: white;
}
.media {
	font-family: "Party_Business";
	font-size: 22px;
}

.card-img-top{
	opacity: 0.6;
}
.card-img-top:hover{
	opacity: 1;
}
.Gimli {
	text-decoration: line-through;
	color:#F35900;
}

.element1:hover .text1 
{
	opacity: 0;
}

.element1:hover
{
	opacity: 1;

}

.element1:hover .card-title
{
	top: 60%; 
	font-size: 20px;

}
.element2:hover .text2 
{
	opacity: 0;
}

.element2:hover
{
	opacity: 1;

}
.element2:hover .card-title
{
	top: 60%; 
	font-size: 20px;
}
.element3:hover .text3 
{
	opacity: 0;
}

.element3:hover
{
	opacity: 1;

}
.element3:hover .card-title
{
	top: 60%; 
	font-size: 20px;
}
.titre{
	margin-top: 10px;
	margin-bottom: 7px;
	text-align: center;
}
.menu2 {
	margin-bottom: 10px;
	margin-left: 20%;

}
.contact {
	margin-left: 62%;
}

.marge {
	padding-top: 10px;
	border-radius: 5px;
}
.Gollum {
	color: grey;
	margin-left: 60%
}
.hrk {
	margin-left: 30%
}
.tab {
	margin-left: 10%
}
.sauron {
	border: 1px solid grey;
	padding: 3px;
	width: 30%;
	text-align: center;
	margin-left: 60%
}
.formulaire {
	margin-left: 8%;
}
.foot {
	border:1px solid black;
	background: #454A4A;
	color: white;
	margin-bottom: 2%;
}
.body {
	background: #C8A794;
}
ul {
list-style:none;

}
